<h1>Login</h1>
<%= form_for(:user,html:{role:"form"},url:login_path) do |f| %>


  <p class="text-center mt-4">
    <%= f.label :email %><br/>
    <%= f.email_field :email %>
  </p>

    <p class="text-center mt-4">
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </p>


  <p class="text-center mt-4">
    <%= f.submit "login" %>
  </p>
  <% end %>
  <br></br>
  <%= link_to 'signup',new_user_path %>
